* {
    color: black;
}

body {
    text-align: center;
    background-color: whitesmoke;

}

.img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

button {
    margin-right: 50px;
    border: none;


}
.container{
    display: flex;
    flex-direction: column;
    gap: 25px;

}